.grid {
  padding: 10px;
  display: grid;
  border-radius: radius 3px;
}

.grid .header {
  display: grid;
  grid-template-columns: 65% 25% 10%;
  height: 30px;
  padding: 5px;
  font-weight: 700;
  border-bottom: 1px solid;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}

.grid .items {
  display: grid;
  grid-template-columns: 65% 25% 5% 5%;
  grid-row-gap: 10px;
  padding: 10px;
  font-size: 16px;
}

.grid .items svg {
  cursor: pointer;
}
